
body {
    background-color: #7895B2;
    font-family: sans-serif;
    color: #F5EFE6; 
    margin: 0;
}

div {
    padding: 10px;
}

#main {
    width: 90%;
    margin-left: 5%;
    padding: 0px;
}

#circle-photo {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 3px solid #7895B2;
}

#summary, #education, #certification {
    background-color: #F5EFE6;
    color: #7895B2;
}

#experience, #skills   {
    background-color: #E8DFCA;
    color: #7895B2; 
}

.sticky {
    position: sticky;
    top: 0px;
    z-index: 1;
}

.scrollable {
    position: relative;
    padding: 0px;
}

.left-header {
    width: 100px; 
    vertical-align: top;
}

footer {
    color: #F5EFE6;
    text-align: center;
}

button {
    border-color: #7895B2;
    color:#7895B2;
    height: 36px;
    width: 150px;
    transition: 0.15;
}

button:hover {
    opacity: 0.7;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}