
@font-face {
    font-family: "Tanker-Regular";
    src: url('./assets/fonts/Tanker/Tanker-Regular.woff2') format('woff2'),
         url('./assets/fonts/Tanker/Tanker-Regular.woff') format('woff'),
         url('../assets/fonts/Tanker/Tanker-Regular.ttf') format('truetype');
         font-weight: 400;
         font-display: swap;
         font-style: normal;
  }

  @font-face {
    font-family: "Cabinet Grotesk";
    src: url(./assets/fonts/CabinetGrotesk/CabinetGrotesk-Regular.otf) format("woff2"),
         url(./assets/fonts/CabinetGrotesk/CabinetGrotesk-Regular.otf) format("woff"),
         url(./assets/fonts/CabinetGrotesk/CabinetGrotesk-Regular.otf) format("truetype");
    font-weight: 100 900;
    font-display: swap;
    font-style: normal
}

h1, h2 {
    font-family: Tanker-Regular;
    text-transform: lowercase;
    font-weight: 10;
}

h1 {
    font-size: 1.8rem;
}

h2 {
    font-size: 1.6rem;
}

h3 {
    font-size: 1.3rem;
}

p {
    font-size: 1.1rem;
    font-weight: 500;
}

li {
    font-size: 1.1rem;
    font-weight: 300;
}

div {
    padding: 12px 24px;
}

main {
    padding: 0px;
}

body {
    font-family: Cabinet Grotesk;
    background-color: black;
    color: #ffffff; 
    margin: 0;
}

.sticky {
    position: sticky;
    top: 0px;
    z-index: 1;
    padding: 0px;
    background-color: #44c8f5;
    color: #ffffff;
    display: flex;
    flex-direction: column;
} 

.stiky > div {
    padding: 0px;
}

.navigation {   
   padding: 0px 24px;
   display: flex;
   flex-direction: row;
   gap: 5%;
}

button {
    font-family: Tanker-Regular;
    font-size: 1.2rem;
    border-color: #F5EFE6;
    color: #023f5e;
    height: 36px;
    width: 150px;
    transition: 0.15;
    margin-top: 20px;
}

.summary {
    display: flex;
    background-color: #023f5e;
}

.summary > div {
    padding: 0px;
    
}

#circle-photo {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 3px solid #ffffff;
}

#experience, #skills, #education, #certification, #contacts {
    background-color: #212830;
}

table {
    width: 100%;
}

.left-header {
    width: 13%; 
    vertical-align: top;
    padding-right: 12px;
    padding-top: 5px;
}

span {
    padding: 5px 5px;
    border: 1px solid #00bdf2;
    border-radius: 5px;
}

ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

footer {
    clear: both;
    padding: 12px;
    background-color:  #44c8f5;
    color: #ffffff;
    text-align: center;
}

footer p {
      margin: 0px;
}


button:hover {
    opacity: 0.8;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}